@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

.listBox{
  -moz-appearance: listbox;
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background: -moz-Field;
  color: -moz-FieldText;
  overflow: auto;
}

prefwindow#ConfmaniaPreferences .paneSelector > radio[pane] {
  list-style-image: none;
  -moz-image-region: auto;
}
prefwindow#ConfmaniaPreferences image.paneButtonIcon {
  display: none;
}
prefwindow#ConfmaniaPreferences prefpane hbox.heading {
  display: none; /* display only for in-content */
}

.subtabs, .subtabpanel{
  -moz-appearance: listbox;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background: -moz-Field;
  color: -moz-FieldText;

  overflow: auto;
}
.subtabs {
  overflow-x: hidden;
  overflow-y: auto;
}
radio.subtab {
  -moz-appearance: none;
  margin: 0;
  padding: 2px;
  border: solid 1px transparent;
  background: -moz-Field;
  color: -moz-FieldText;
}
radio.subtab * {
  background-image: none ! important;
}
radio.subtab[selected] {
  background: Highlight;
  color: HighlightText;
}
radio.subtab .radio-spacer-box,
radio.subtab .radio-check,
radio.subtab .radio-check-box1 {
  visibility: collapse;
}
.subtabpanel {
  overflow-x: auto;
  overflow-y: scroll;
}
.subtabpanel {
  visibility: collapse;
  opacity: 0;
}
.subtabpanel[selected="true"] {
  visibility: visible;
  opacity: 1;
}
prefwindow[animated="true"] #paneBrowserBoxContainer .subtabpanel,
prefwindow[animated="true"] #paneSecurityBoxContainer .subtabpanel,
prefwindow[animated="true"] #paneHTTPBoxContainer .subtabpanel,
prefwindow[animated="true"] #paneUIBoxContainer .subtabpanel {
  /* For animated or Mac, specify fixed height */
  max-height: 390px;
  min-height: 390px;

  /* Enable animation for switching subtabpanel */
  transition-duration: 500ms;
  transition-property: opacity;
  transition-timing-function: linear;
}

/* checkbox which is disabled for changes but non-gray text (i.e., in effect) */
checkbox.nogray-disabled[disabled="true"][nogray="true"] {
  color: inherit;
  text-shadow: inherit;
}

.emphasis{ font-weight: bold ! important; }
vbox.warning {
  background-color: #d9534f;
  color: #fff;
  padding: 0.2em 0.6em 0.3em;
  border-radius: 0.25em;
  margin: 2px;
}

*|*:-moz-any-link:hover{ color: -moz-nativehyperlinktext; text-decoration: underline; }

description[disabled="true"] { color: GrayText; }
/* XXX This style is for bug 740213 and should be removed once that
   bug has a solution. */
description > *|*:-moz-any-link {
  cursor: pointer;
}

*[data-obsolete-msg]::after, *[data-require-msg]::after, *[data-require-obsolete-msg]::after {
  border-width: 0 0 0 4px;
  font-size: x-small;
  border-radius: 2px;
  border-width: 0 0 0 4px;
  border-style: solid;
  padding: 4px 4px 2px;
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  line-height: normal;
}
*[data-obsolete-msg]::after {
  content: attr(data-obsolete-msg);
  background-color: rgba(230,96,0,.45);
  border-color: rgba(0,0,0,.05);
}
*[data-require-msg]::after {
  content: attr(data-require-msg);
  background-color: rgba(0,83,159,.2);
  border-color: rgba(0,0,0,.05);
}
*[data-require-obsolete-msg]::after {
  content: attr(data-require-obsolete-msg);
  background: linear-gradient(to right, rgba(0,83,159,.2) 0%, rgba(230,96,0,.45) 100%);
  border-color: rgba(0,0,0,.05);
}
*[data-obsolete-msg]:not([disabled="true"]):hover::after, *[data-require-msg]:not([disabled="true"]):hover::after, *[data-require-obsolete-msg]:not([disabled="true"]):hover::after {
  outline: 1px solid #0095dd;
  -moz-outline-radius: 4px;
}
